.containerDiv {
  display: flex;
  flex-direction: column;
  height: 70%;
  position: fixed;
  right: 1rem;
  top: 1rem;
  color: white;
  align-items: flex-end;
  justify-content: space-between;
}
.containerDiv > p {
  font-size: 4rem;
}
.horizonalFlex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.containerDiv span:hover {
  text-decoration: underline;
  cursor: pointer;
}
