.App .mediaMonksLogo {
  height: 6rem;
  z-index: 5;
  position: fixed !important;
  bottom: 0.5rem;
  right: 1rem !important;
  color: white;
}
@font-face {
  font-family: "klavika"; /*Can be any text*/
  src: url("../public/Fonts/klavika-regular-webfont.woff") format("woff");
}
.klavika {
  font-family: klavika;
}
